@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uiyeun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Uiyeun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
.gif{
    width: 240px;
    height: 60px;
}
.big {
    font-size: 3.3em;
    font-family: 'SBAggroB';
}
.mb-5{
    font-size: 2.8em;
    font-family: 'SBAggroB';
}
.mb-3{
    font-size: 2em;
    font-family: 'KOTRAHOPE';
}
.m-0{
    font-family: 'IM_Hyemin-Bold';
    font-size: 1em;
}
.detailAboutMe{
    
    font-family: 'IM_Hyemin-Bold';
    font-size: 1em;

}
.boldtitle{
    font-size: 1.8em;
    font-family: 'KOTRAHOPE';
}
.btn{
    font-family:"Jost",sans-serif;
}